mkdocs-material
mkdocs-macros-plugin
mkdocs-section-index
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin @ git+https://github.com/deimosfr/mkdocs-git-revision-date-localized-plugin@4e655c1
python-dateutil